doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet")
	body
		include header.pug
		block content
