extends layout
block content
	form(class="login-block" action="/login" method="post")
		h1(class="login-block__title") Вход
		input(type="name" class="login-block__login login-block__input" name="login" placeholder="Имя пользователя")
		input(type="password" class="login-block__password login-block__input" name="password" placeholder="Пароль")
		a(href="#" class="login-block__reset-password") Забыли пароль?
		button(type="submit" class="login-block__submit-button") Войти
		a(href="#" class="login-block__register") Регистрация
	script(src="/js/login.js")