body {
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #F2F1F0;
}

a {
	color: #00B7FF;
}

.header{
	height: 65px;
	background-color: #fff;
}

.login-block{
	display: flex;
	flex-direction: column;
	width: 460px;
	box-sizing: border-box;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 152px;
	padding: 80px 48px 25px 48px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.login-block__title{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #1791EA;
	margin: 0;
	margin-bottom: 86px;
}

.login-block__input{
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #999897;
	padding: 16px 8px;
	transition: border 0.2s;
}

.login-block__input:focus{
	outline: none;
	border-bottom: 1px solid #1791EA;
}

.login-block__login{
	margin-bottom: 60px;
}

.login-block__password{
	margin-bottom: 10px;
}

.login-block__reset-password{
	font-size: 13px;
	color: #999897;
	text-decoration: underline;
	margin-left: auto;
	margin-bottom: 35px;
}

.login-block__submit-button{
	font-size: 15px;
	background-color: #1791EA;
	color: #fff;
	border: none;
	padding: 12px 40px;
	border-radius: 30px;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 108px;
	cursor: pointer;
}

.login-block__register{
	font-size: 13px;
	color: #999897;
	text-decoration: underline;
	margin: 0 auto;
}


/* cource page */

.course-main {
	display: flex;
	justify-content: center;
	height: calc(100vh - 65px);
	max-height: calc(100vh - 65px);
	padding-top: 25px;
	box-sizing: border-box;
	overflow: hidden;
  }
  .course-lesson {
	width: 900px;
	height: 100%;
	margin-right: 15px;
	background-color: #1791EA;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
  }
  .course-menu {
	width: 300px;
  }
  .course-menu__tabs {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
	border-radius: 0 10px 10px 0;
  }
  .course-menu__lesson-tab {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 50px;
	padding-left: 10%;
	list-style: none;
	background-color: #f2f2f2;
  }
  .course-menu__lesson-tab_current {
	background-color: #fff;
  }
  .course-menu__lesson-tab:hover,
  .course-menu__lesson-tab_current {
	color: #49ABF2;
  }
  .course-menu__lesson-tab:first-of-type {
	border-top-right-radius: 10px;
  }
  .course-menu__lesson-tab:last-of-type {
	border-bottom-right-radius: 10px;
  }
  